
/*.flex-box{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 6rem;*/
/*    flex-wrap: wrap;*/
/*}*/


/*.site-logo img{*/
/*    border-radius: 2rem !important;*/
/*}*/


.site-logo{
    width: 18rem;
}
.round-m{
    border-radius: 1rem;
}
.error-item{
    list-style: none;
    padding-right: 0;
}

.bg-eee{
    background-color: #eeeeee;
}
.text-dark-blue-form{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,42,82,1) 0%, rgba(8,112,193,1) 100%);
}
